.large-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    margin: 1% 10% 1% 10%;
    border: 1px solid black;
    border-radius: 30px;

  }

.botonsano {
    border: 1px solid #FF6F2C !important;
    margin-top: 20px;
}

.information {
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

h1 {
    margin-top: 20px;
}