body {
    color: rgb(0, 0, 0) !important
}

h2 {
    font-weight: bolder;
}

h5 {
    font-size: 14px; 
}

.info {
    margin: auto;
    display: flex;
    align-content: space-between !important;
    left: 0;
    right: 0;
}

.mariposa {
    position: absolute;
}

a {
    text-decoration: none;
    color: black;
}

.mr-auto {
    margin: 10px 60px 2px 60px;
}

#settings {
    position: relative;
    margin-left: 100px;
}

.navbar {
    border-bottom: 1px solid #707070; 
}