.login {
    background-color: white;
    position: absolute;
    top: 50%; 
    left: 50%;
    z-index: 2; 
    padding: 30px 90px 20px 90px; 
    border-radius: 10px;
    border-radius: 30px;
}

h3 {
    font-weight: lighter !important;
    font-size: 12px;
}

h2 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

h1 {
    font-size: 22px;
}

.container-informacion {
    flex-direction: column;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}